.meme {
  display: inline-flex;
  justify-content: center;
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.meme-img {
  display: inline-table;
  width: 100%;
  min-height: 300px;
  max-width: 500px;
  background-size: contain;
}

.text0,
.text1,
.text2,
.text3 {
  font-family: "Wendy One", sans-serif;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: black;
  margin: 0;
  position: absolute;
  left: 10%;
  max-width:80%;
  word-wrap: break-word;
}

.text0 {
  top: 2%;
}

.text1 {
  top: 10%;
}
.text2 {
  top: 30%;
}
.text3 {
  top: 50%;
}


@media (max-width:500px){
  .meme-img{
    width: 90%;
  }
}