@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Major+Mono+Display&family=Wendy+One&display=swap");
@import url(./css/header.css);
@import url(./css/form.css);
@import url(./css/image.scss);
@import url(./css/uploadForm.css);

body {
  min-height: 100vh;
  background-color: black;
}

.meme-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
